*{
background-color: black;
font-family: 'helvetica';
}

h1{
font-weight: bold;
text-align: center;
padding: 20px;
color: cornsilk;
font-size: 40px;
}

h2{
font-style: italic;
color: white;
font-size: 20px;
}

p{
color: white;
font-size: 10px;
}
